{% extends 'header.html' %}
{% block content %}
{% load static %}
<section class="content home">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <h2>All Patients <small class="text-muted">Welcome to Healthify</small></h2>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 text-right">

                <button class="btn btn-white btn-icon btn-round d-none d-md-inline-block float-right m-l-10"
                    type="button">
                    <i class="zmdi zmdi-plus"></i>
                </button>


                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="{% url "home" %}"><i class="zmdi zmdi-home"></i>
                            Healthify</a></li>
                    <li class="breadcrumb-item">Patients</li>
                    <li class="breadcrumb-item active">All Patients</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card patients-list">
                    <div class="header">
                        <h2><strong>Patients</strong> List</h2>
                    </div>
                    <div class="body">
                        
                        <!-- Tab panes -->
                        <div class="tab-content m-t-10">
                            <div class="tab-pane table-responsive active" id="All">
                                <table class="table m-b-0 table-hover">
                                    <thead>
                                        <tr>
                                            <th>Media</th>
                                            <th>Patients ID</th>
                                            <th>Name</th>
                                            <th>Age</th>
                                            <th>Address</th>
                                            <th>Number</th>
                                            <th>Visit</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    {% if appointment %}
                                    <tbody>
                                        {% for i in appointment %}
                                        <tr>
                                            <td><span class="list-icon"><a href="{% url "patients-profile" i.pk %}"><img class="patients-img"
                                                        src="{{i.user.picture.url}}" alt=""></a></span></td>
                                            <td><span class="list-name">{{i.user.pk}}</span></td>
                                            <td>{{i.user.f_name}}</td>
                                            <td>{{i.age}}</td>
                                        
                                            <td>{{i.patient_info.address}}</td>
                                            <td>{{i.phone}}</td>
                                            <td>{{i.appointment_date}}</td>                      
                                            {% if i.appointment_status_pandding == True %}
                                            <td>
                                                <a href="{% url "approved" i.pk %}"><button class="badge badge-success">Approved</button></a>
                                                <a href="{% url "rejected" i.pk %}"><button class="badge badge-danger">Cancle</button></a>
                                            </td>
                                            {% elif i.appointment_status_approved == True %}
                                            <td><span class="badge badge-info">approved</span> </td>

                                            {% elif i.appointment_status_cancle == True %}
                                            <td><span class="badge badge-info">Cancer</span></td>
                                            {% endif %}
                                     
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% else %}
                                    <tr>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        
                                    </tr>
                                    {% endif %}
                                </table>
                            </div>
                            {% comment %} <div class="tab-pane table-responsive" id="USA">
                                <table class="table m-b-0 table-hover">
                                    <thead>
                                        <tr>
                                            <th>Media</th>
                                            <th>Patients ID</th>
                                            <th>Name</th>
                                            <th>Age</th>
                                            <th>Address</th>
                                            <th>Number</th>
                                            <th>Last Visit</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span class="list-icon"><img class="patients-img"
                                                        src="{% static 'images\xs\avatar1.jpg' %}" alt=""></span></td>
                                            <td><span class="list-name">KU 00598</span></td>
                                            <td>Daniel</td>
                                            <td>32</td>
                                            <td>71 Pilgrim Avenue Chevy Chase, MD 20815</td>
                                            <td>404-447-6013</td>
                                            <td>11 Jan 2018</td>
                                            <td><span class="badge badge-success">Approved</span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="list-icon"><img class="patients-img"
                                                        src="{% static 'images\xs\avatar2.jpg' %}" alt=""></span></td>
                                            <td><span class="list-name">KU 00258</span></td>
                                            <td>Alexander</td>
                                            <td>22</td>
                                            <td>123 6th St. Melbourne, FL 32904</td>
                                            <td>404-447-6013</td>
                                            <td>15 Jan 2018</td>
                                            <td><span class="badge badge-success">Approved</span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="list-icon"><img class="patients-img"
                                                        src="{% static 'images\xs\avatar1.jpg' %}" alt=""></span></td>
                                            <td><span class="list-name">KU 00456</span></td>
                                            <td>Joseph</td>
                                            <td>27</td>
                                            <td>70 Bowman St. South Windsor, CT 06074</td>
                                            <td>404-447-6013</td>
                                            <td>19 Jan 2018</td>
                                            <td><span class="badge badge-success">Approved</span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="list-icon"><img class="patients-img"
                                                        src="{% static 'images\xs\avatar2.jpg' %}" alt=""></span></td>
                                            <td><span class="list-name">KU 00789</span></td>
                                            <td>Cameron</td>
                                            <td>38</td>
                                            <td>123 6th St. Melbourne, FL 32904</td>
                                            <td>404-447-6013</td>
                                            <td>19 Jan 2018</td>
                                            <td><span class="badge badge-warning">Pending</span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="list-icon"><img class="patients-img"
                                                        src="{% static 'images\xs\avatar3.jpg' %}" alt=""></span></td>
                                            <td><span class="list-name">KU 00987</span></td>
                                            <td>Alex</td>
                                            <td>39</td>
                                            <td>123 6th St. Melbourne, FL 32904</td>
                                            <td>404-447-6013</td>
                                            <td>20 Jan 2018</td>
                                            <td><span class="badge badge-success">Approved</span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="list-icon"><img class="patients-img"
                                                        src="{% static 'images\xs\avatar4.jpg' %}" alt=""></span></td>
                                            <td><span class="list-name">KU 00951</span></td>
                                            <td>James</td>
                                            <td>32</td>
                                            <td>44 Shirley Ave. West Chicago, IL 60185</td>
                                            <td>404-447-6013</td>
                                            <td>22 Jan 2018</td>
                                            <td><span class="badge badge-warning">Pending</span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="list-icon"><img class="patients-img"
                                                        src="{% static 'images\xs\avatar1.jpg' %}" alt=""></span></td>
                                            <td><span class="list-name">KU 00953</span></td>
                                            <td>charlie</td>
                                            <td>51</td>
                                            <td>123 6th St. Melbourne, FL 32904</td>
                                            <td>404-447-6013</td>
                                            <td>22 Jan 2018</td>
                                            <td><span class="badge badge-warning">Pending</span></td>
                                        </tr>
                                        <tr>
                                            <td><span class="list-icon"><img class="patients-img"
                                                        src="{% static 'images\xs\avatar2.jpg' %}" alt=""></span></td>
                                            <td><span class="list-name">KU 00934</span></td>
                                            <td>thomas</td>
                                            <td>26</td>
                                            <td>123 6th St. Melbourne, FL 32904</td>
                                            <td>404-447-6013</td>
                                            <td>29 Jan 2018</td>
                                            <td><span class="badge badge-warning">Pending</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}